<!DOCTYPE html>
<head>
<title>SUB</title>
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/next.css') }}">
</head>
<body>
<div style="height:500px;width:1000px;margin:auto;border:2px solid white;">
<div class="a1">
<h1>WELCOME</h1>
</div>
<div class="a2">
<p>Change the above URL for more!</p>
<img src="static/images/img.jpg" height="100px" width="100px"/>
</div>
<div class="a3">
<form action="/index" method="POST">
<input class="button" type="submit" value="HOME">
</form>
</div>
</div>
</body>
</html>